<nav>
  <div></div>
  <ul class="nav navbar-top-links navbar-right">
     <li>
        <a href="#" target="_self">
        <mat-icon style="font-size: 14px">live_help</mat-icon>
        <span>
           帮助<mat-icon style="font-size: 14px">arrow_drop_down</mat-icon>
        </span>
        </a>
        <ul></ul>
     </li>
     <li>
        <a href="#" target="_self">
           <mat-icon style="font-size: 14px">language</mat-icon>
           <span>
              中文<mat-icon style="font-size: 14px">arrow_drop_down</mat-icon>
           </span>
        </a>
      <ul></ul>
    </li>

    <li>
       <a href="#" target="_self">
          <mat-icon style="font-size: 14px">verified_user</mat-icon>
          <span>
             用户<mat-icon style="font-size: 14px">arrow_drop_down</mat-icon>
          </span>
      </a>
      <ul></ul>
    </li>

  </ul>
</nav>
